In [1]:
import pandas as pd

In [3]:
# Since the data from kaggle is already flat, load them directly into dataframes
file_dir = 'C://Users/16153/Documents/Bootcamp Notes/ClassNotes/08_Notes/'
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [21]:
# Review the data head(), tail(), sample()
# kaggle_metadata.head()
# kaggle_metadata.tail()
kaggle_metadata.sample(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
37195,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,177358,tt2621000,hi,Jolly LLB,The film is a social satire on the law system ...,...,2013-03-15,0.0,135.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Jolly LLB,False,6.9,21.0
4237,False,NaN,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,52616,tt0244709,en,Pavilion of Women,"With World War 2 looming, a prominent family i...",...,2001-03-16,0.0,116.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Pavilion of Women,False,5.3,6.0
34235,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}]",NaN,37615,tt0041263,en,Cover Up,In a small Midwestern town a man is found dead...,...,1949-02-25,0.0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It takes more than a kiss to ""COVER UP"" a kill...",Cover Up,False,6.1,4.0